.signup {
    width: auto;
    margin: auto;
		background-color: inherit;
		text-align: center;
		color: #203c32;
		border: 1px solid;
		border-color: #203c32;
		padding: 70px;
		padding-top: 0px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
}

.signup input {
    margin-bottom: 23px;
    padding: 8px;
		width: 80%;
		text-align: center;
		border: 1px solid;
		border-radius: 5px;
		color: inherit;
}

.signup button{
		width: 70%;
}

.signup Link {
		color: #203c32;
		font-size: 1em;
		margin: 5px;
		width: 100%;
}
.signup a:hover {
		text-decoration: underline;
}

.signup select {
		width: 60%;
		text-align: center;
}

.signup #password {
		margin-bottom: 0px;
}

.signup p {
		margin-bottom: 5px;
		margin-top: 0px;
}
