.nav {
  width: 100%;
  max-height: 50px;
  min-height: 50px;

  border-bottom: 1px solid #203c32;
  display: flex;
  justify-content: flex-end;
}

.nav > * {
  display: flex;
  align-items: center;
  margin: 0px 10px;
  color: #203c32;
}


.nav > *:hover {
    color: #c15851;
}